<style type="text/css">
p.galleryIconBar {
  text-align: center
}
h1.galleryTitle {
  text-align: center
}
p.galleryDisplay {
  text-align: center
}
p.galleryErrorEnvironment {
  display: none
}
</style>
<!-- arch-tag:MsKggKNV87y5OA1AeqG+SA -->
